@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
    font-family: 'Raleway', sans-serif;
}

#heading-title
{
    font-size: 4rem;
    margin-bottom: 10px;
    text-align: center;
    color: rgb(37, 151, 185);
}

.display-name{
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}
section
{
    width: 380px;
    margin: 50px auto;
}

li
{
    list-style-type: none;
}

img
{
    height: 80px;
    width: 80px;
    margin-right: 10px;
}

#chat-box
{
    height: 40vw;
    border: 1px solid #ccc;
    padding: 16px;
    margin-bottom: 10px;
    border-radius: 8px;

}

li{
    border-radius: 8px;
    border: 1px solid #ccc;
    margin: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(222, 228, 230);
}

#chat-box
{
    overflow-y: scroll;
}
